@use 'variables' as *;

:root {
  --text: #{map-get($colors-light, text)};
  --text-heading: #{map-get($colors-light, text-heading)};
  --bg: #{map-get($colors-light, bg)};
  --border: #{map-get($colors-light, border)};
}
